header { background-color: black; font-style:italic; font-size: 80px;
	text-shadow: 5px 4px 5px blue;  
font-weight: bolder;color: yellow ;
  width: 1400px ; height: 100px  ;
   box-shadow: 10px 10px 9px blue }
